<footer class="page-footer bg-secondary pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>
</footer>