<main>
    <div class="container corpo">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-dark mt-5 mb-5">Sejam bem vindes a hortifruti Generation</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae debitis
                    blanditiis
                    dignissimos aut
                    voluptates explicabo nesciunt quia sit non. Error dolores id suscipit aut! Consequatur fugit eius
                    atque
                    autem delectus.</p>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic iusto similique
                    fuga. Ad
                    consequatur quidem
                    distinctio dolore quia saepe culpa in reprehenderit at sequi? Quibusdam dicta eaque et quidem
                    quisquam.
                </p>
            </div>
        </div>
    </div>
</main>